/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap");
/* Colors */

.text-black {
  color: hsl(0, 0%, 7%);
}

.bg-white {
  background-color: hsl(0, 0%, 100%);
}

.bg-primary {
  background-color: hsl(47, 88%, 63%);
}

.text-primary {
  color: hsl(0, 0%, 50%);
}

/* Reset */

* {
  box-sizing: border-box;
}

/* Base styles */

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin-top: 0;
}

h1 {
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Common styles */
/* Display */

.d-flex {
  display: flex;
}

/* Flex basis */

/* Width */

/* Text */

/* Padding */

/* Margins */
